server
{
    listen 80;
    server_name example.com www.example.com;
    root /server/www/www_example_com;

    access_log /server/logs/nginx/www_example_com.log;
    index index.html;

    if ($request_method !~* GET|POST)
    {
        return 403;
    }
    
    location ~ /\.ht
    {
        deny all;
    }
}
